<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>botoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1>Botões</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti corporis hic eligendi, exercitationem ad voluptatem expedita totam nisi? Illum quibusdam quo asperiores praesentium commodi voluptates odio fuga sit molestiae ea.</p>

</ion-content>
